name: Docker Builds

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{ secrets.ARC_USERNAME }}   
        DOCKER_PASSWORD: ${{ secrets.ARC_SECRET }}  
      run: |
        docker login fintrust.azurecr.io -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: docker build botman
      run: |
        docker build -t fintrust.azurecr.io/fintrust-vc-verifier:latest
    - name: docker push
      run: |
        docker push fintrust.azurecr.io/fintrust-vc-verifier:latest
